body {
padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
#main {
color: #FFFFFF;
font-size:2em;
line-height:1.2em;
padding-left:0px;
background-image: url('../img/kokuban3.png');
background-repeat: none;
height: 800px;
-moz-background-size:cover;
background-size:cover;
//background-size: 940px 900px
}
.topic-big {
margin-bottom:20px;
border-bottom:1px solid #999999;
border-left:10px solid #ff6600;
line-height:70px;
padding-left:8px;
}

.topic-middle {
margin-bottom:20px;
margin-top:30px;
border-bottom: 1px dotted #cccccc;
border-left:10px solid #0099cc;
padding:0px 0px 5px 5px;
}

ul {
list-style-type: none;
}
label.select {
font-size:1em;
line-height:1.2em;
}
#top_message {
margin-left: 100px;
}

#second-line {
margin-top:30px;
padding-left: 100px;
}

.category {
padding-left: 100px;
}

#button_line {
padding-left: 100px;
}

#footer {
margin-top: 40px;
font-size:0.4em;
line-height:0.1em;
}
